{#-------------------------------------------------------------------------#}
{#DLTeams plugin for GLPI#}
{#-------------------------------------------------------------------------#}
{#LICENSE : This file is part of DLTeams Plugin.#}

{#DLTeams Plugin is a GNU Free Copylefted software.#}
{#It disallow others people than DLPlace developers to distribute, sell,#}
{#or add additional requirements to this software.#}
{#Though, a limited set of safe added requirements can be allowed, but#}
{#for private or internal usage only ;  without even the implied warranty#}
{#of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.#}

{#You should have received a copy of the GNU General Public License#}
{#along with DLTeams Plugin. If not, see <http://www.gnu.org/licenses/>.#}
{#--------------------------------------------------------------------------#}
{#@package   dlteams#}
{#@author    DLPlace developers#}
{#@copyright Copyright (c) 2022 DLPlace#}
{#@inspired	 DPO register plugin (Karhel Tmarr) & gdprropa (Yild)#}
{#@license   GPLv3+ http://www.gnu.org/licenses/gpl.txt#}
{#@link      https://github.com/dlplace/dlteams#}
{#@since     2021#}
{#--------------------------------------------------------------------------#}


{% set theme = config('palette') %}
{% if css_files is not defined %}
    {% set css_files = [
        {'path': 'public/lib/base.css'},
        {'path': 'css/palettes/' ~ theme ~ '.scss'}
    ] %}
    {# TODO : load hight contrast css #}
{% endif %}
{% if js_files is not defined %}
    {% set js_files = [
        {'path': 'public/lib/base.js'},
        {'path': 'js/common.js'}
    ] %}
{% endif %}

{#{% if first_page %}#}
{{ include('@dlteams/layout/head_guest.html.twig') }}
{#{% endif %}#}

{% if first_page %}
<body class="welcome-anonymous">
{% endif %}
<div class="page-anonymous">
    <div class="flex-fill d-flex flex-column justify-content-center">
        {% set style = null %}
        {% if card_md_width is defined %}
            {% set style = 'max-width: 40rem' %}
        {% endif %}
        {% if card_bg_width is defined %}
            {% set style = 'max-width: 60rem' %}
        {% endif %}

        {% block header_logo %}{% endblock %}

        {% block cover_page %}{% endblock %}

        <div class="container" {% if style is not null %}style="{{ style }}"{% endif %}>
{#            <img src="https://dlregister.app/marketplace/dlteams/images/banner.png" style="margin-top:-64px">#}
            <div class="text-center">
                <div class="col-md">
                    <!--span class="glpi-logo mb-4" title="GLPI"></span-->
                    <!--img src="https://dlregister.app/marketplace/dlteams/images/banner.png"-->
                </div>
            </div>

            <div style="background:none;">

                {% block content_block %}{% endblock %}
            </div>

            <div class="text-center text-muted mt-3" style="color:#ffffff!important">
                {% block footer_block %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% if first_page %}
{% block javascript_block %}{% endblock %}
</body>
</html>

{% endif %}
